@model string

<form method="post" action="@Url.Action("Shorten")">
    <label for="url">Enter a URL to shorten:</label>
    <input type="url" name="url" id="url" required>
    <label for="alias">Enter alias:</label>
    <input type="alias" name="alias" id="alias" minlength="8" maxlength="15">
    <button type="submit">Shorten</button>

    @if (!string.IsNullOrEmpty(Model))
    {
        <p>Shortened URL: <a href="@Url.Action("Temp", new { shortUrl = Model })">@Model</a></p>
    }
</form>
